<form class="pure-form pure-form-stacked">
    <fieldset>
        <legend>Network Optimizer</legend>
        <div class="field">
            <label for="networkoptimizer-number-of-evolutions-field">Number of Evolutions</label>
            <input class="pure-u-24-24" id="networkoptimizer-number-of-evolutions-field" type="number" value="5">
        </div>
        <div class="field">
            <label for="networkoptimizer-number-mutations-per-evolutions-field">Number Mutations Per Evolution</label>
            <input class="pure-u-24-24" id="networkoptimizer-number-mutations-per-evolutions-field" type="number" value="5">
        </div>
        <div class="field">
            <label for="networkoptimizer-number-of-removals-field">Number of Removals</label>
            <input class="pure-u-24-24" id="networkoptimizer-number-of-removals-field" type="number" value="10">
        </div>
        <div class="field">
            <label for="networkoptimizer-weight-random-failure-field">Weight Random Failure</label>
            <input class="pure-u-24-24" id="networkoptimizer-weight-random-failure-field" type="number" value="10">
        </div>
        <div class="field">
            <label for="networkoptimizer-weight-targeted-failure-field">Weight Targeted Failure</label>
            <input class="pure-u-24-24" id="networkoptimizer-weight-targeted-failure-field" type="number" value="10">
        </div>
        <div class="field">
            <label for="networkoptimizer-weight-radius-of-gyration-field">Weight Radius of Gyration</label>
            <input class="pure-u-24-24" id="networkoptimizer-radius-of-gyration-field" type="number" value="10">
        </div>

        <div class="field">
            <a class="pure-button pure-button-primary full-width" id="networkoptimizer-optimize-route-network-btn">Optimize Routes</a>
            <a class="pure-button full-width" id="networkoptimizer-compute-fitness-score-btn">Compute Fitness Score</a>
        </div>
    </fieldset>
</form>