<!--suppress JSUnusedLocalSymbols -->
<script type="text/javascript">
    var stopLayoutDialogSettings = [
        {
            "name": "LATTICE",
            "content": "{% filter escapejs %}{% include 'stopgenerator/layoutdialogs/lattice_layout_dialog.html' %}{% endfilter %}",
            "options": {
                "size": [500, 300],
                "anchor": [150, 225],
                "maxSize": [450, 300]
            }
        },
        {
            "name": "RANDOM",
            "content": "{% filter escapejs %}{% include 'stopgenerator/layoutdialogs/random_layout_dialog.html' %}{% endfilter %}",
            "options": {
                "size": [500, 215],
                "anchor": [200, 225],
                "maxSize": [450, 215]
            }
        },
        {
            "name": "N-BLOB",
            "content": "{% filter escapejs %}{% include 'stopgenerator/layoutdialogs/nblob_layout_dialog.html' %}{% endfilter %}",
            "options": {
                "size": [500, 300],
                "anchor": [150, 225],
                "maxSize": [500, 300]
            }
        }
    ];

    var addStopDialogSettings = {
        "content": "{% filter escapejs %}{% include 'stopgenerator/managedialogs/add_stops_dialog.html' %}{% endfilter %}",
        "options": {
            "size": [200, 60],
            "anchor": [10, -210],
            "position": "topright",
            "maxSize": [200, 60]

        }
    };
    var moveStopDialogSettings = {
        "content": "{% filter escapejs %}{% include 'stopgenerator/managedialogs/move_stops_dialog.html' %}{% endfilter %}",
        "options": {
            "size": [200, 60],
            "anchor": [10, -210],
            "position": "topright",
            "maxSize": [200, 60]

        }
    };
    var removeStopDialogSettings = {
        "content": "{% filter escapejs %}{% include 'stopgenerator/managedialogs/remove_stops_dialog.html' %}{% endfilter %}",
        "options": {
            "size": [200, 110],
            "anchor": [10, -210],
            "position": "topright",
            "maxSize": [200, 110]
        }
    };
</script>
<form class="pure-form pure-form-stacked">
    <fieldset>
        <legend>Stop Generator</legend>
        <!-- Stop Layout Generation Controls -->
        <div class="field">
            <label for="stop-layout-selection">Stop Layout</label>
            <select class="full-width" id="stop-layout-selection">
                <option value="1"> Lattice</option>
                <option value="2">Random</option>
                <option value="3">N-Blob</option>
            </select>
            <a class="pure-button pure-button-primary full-width" id="generate-stop-layout-form-button">Generate Stop Layout</a>
        </div>
        <!-- Add, Move, Delete Controls -->
        <div class="pure-g">
            <!-- Add Stops -->
            <div class="pure-u-1-3">
                <a class="pure-button button-xsmall full-width-margin-right" id="add-stops-button">
                    <i class="fa fa-plus fa-lg"></i> Add
                </a>
            </div>
            <!-- Move Stops -->
            <div class="pure-u-1-3">
                <a class="pure-button button-xsmall full-width-margin-right" id="move-stops-button">
                    <i class="fa fa-arrows fa-lg"></i> Move
                </a>
            </div>
            <!-- Delete Stops -->
            <div class="pure-u-1-3">
                <a class="pure-button button-xsmall full-width" id="delete-stops-button">
                    <i class="fa fa-trash-o fa-lg"></i> Delete
                </a>
            </div>
        </div>
    </fieldset>
</form>