<!--suppress JSUnusedLocalSymbols -->
<script type="text/javascript">
    var stopLayoutDialogSettings = [
        {
            "name": "Lattice",
            "content": "{% filter escapejs %}{% include 'stopgenerator/lattice_layout_dialog.html' %}{% endfilter %}",
            "options": {
                "size": [500, 290],
                "anchor": [150, 225],
                "maxSize": [450, 295]
            }
        },
        {
            "name": "Random",
            "content": "{% filter escapejs %}{% include 'stopgenerator/random_layout_dialog.html' %}{% endfilter %}",
            "options": {
                "size": [500, 290],
                "anchor": [150, 225],
                "maxSize": [450, 295]
            }
        },
        {
            "name": "N-Blob",
            "content": "{% filter escapejs %}{% include 'stopgenerator/nblob_layout_dialog.html' %}{% endfilter %}",
            "options": {
                "size": [500, 450],
                "anchor": [75, 225],
                "maxSize": [450, 295]
            }
        }
    ];
</script>

<div class="row">
    <div class="large-12 column">
        <h6>Stop Generator</h6>
        <label>Current Number of Stops
            <div class="panel callout">
                <h5 style="text-align: center">500</h5>
            </div>
        </label>
        <ul class="button-group">
            <li><a href="#" class="button tiny">Add</a></li>
            <li><a href="#" class="button tiny">Remove</a></li>
            <li><a href="#" class="alert button tiny">Clear All</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <label>Generate Stops Using Layout
            <select id="stop-layout">
                <option value="1">Lattice</option>
                <option value="2">Random</option>
                <option value="3">N-Blob</option>
            </select>
        </label>
        <a class="button tiny full-width" id="generate-stop-layout-btn" href="#">Generate</a>
    </div>
</div>