<div class="row">
    <div class="large-12 columns">
        <h6>Stop Generator</h6>
        <label>Stop Layout
            <select id="stop-layout">
                <option value="1">Lattice</option>
                <option value="2">Random</option>
                <option value="3">N-Blob</option>
            </select>
        </label>
        <label>Maximum Number of Stops
            <input type="text" value="20">
        </label>
        <a class="button tiny " href="#">Generate Stops</a>
        <a class="alert button tiny " href="#">Clear Stops</a>
    </div>
</div>