{% extends 'stopgenerator/base_layout_dialog.html' %}
{% block title %}N-Blob Layout Configuration{% endblock %}
{% block extrafields %}
    <div class="pure-g">
        <div class="pure-u-2-3">
            <label for="predefined-means-field">Predefined Means</label>
            <input class="pure-u-23-24" id="predefined-means-field" type="text" placeholder="[lat1, lng1], [lat2, lng2], [lat3, lng3]..." disabled/>
        </div>
        <div class="pure-u-1-3">
            <label for="covariance-coefficient-field">Covariance Coefficient</label>
            <input class="pure-u-23-24" id="covariance-coefficient-field" type="number" value="65"/>
        </div>
    </div>
    <div class="pure-g">
        <div class="pure-u-2-3">
            <label for="recommended-predefined-means-checkbox" class="pure-checkbox">
                <input id="recommended-predefined-means-checkbox" type="checkbox" checked>
                Use the recommended predefined means
            </label>
        </div>
        <div class="pure-u-1-3">
            <!-- EMPTY -->
        </div>
    </div>
{% endblock %}