<form class="pure-form pure-form-stacked">
    <fieldset>
        <legend>Route Network Generator</legend>
        <div class="field">
            <label for="routegen-number-of-generations-field">Number of Generations</label>
            <input class="pure-u-24-24" id="routegen-number-of-generations-field" type="number" value="10">
        </div>
        <div class="field">
            <label for="routegen-maximum-walking-distance-field">Maximum Walking Distance</label>
            <input class="pure-u-24-24" id="routegen-maximum-walking-distance-field" type="number" value="350">
        </div>
        <div class="field">
            <input type="checkbox" id="show-generated-routes-checkbox" checked>  <span>Show generated routes</span>
        </div>
        <div class="field">
            <a class="pure-button pure-button-primary full-width" id="generate-routes-btn">Generate Routes</a>
            <a class="pure-button full-width" id="clear-routes-btn">Clear Routes</a>
        </div>
    </fieldset>
</form>