{% extends 'base.html' %}
{% load static %}

{% block title %}Gridlock Demo{% endblock %}
{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'scss/demo.css' %}">
{% endblock %}
{% block extrascript %}
    <script type="text/javascript" src="{% static 'js/demo.js' %}"></script>
{% endblock %}

{% block body %}
    {% include 'navbar.html' %}
    <div id="main-content-row" class="row">
        <!--  Sidebar forms column -->
        <div class="large-3 columns full-height">
            {% include 'sidebar.html' %}
        </div>

        <!-- Leaflet map column -->
        <div class="large-9 columns full-height no-padding">
            {% include 'preprocessor/map.html' %}
        </div>
    </div>
{% endblock %}