{% extends 'base.html' %}

{% load static %}

{% block title %}Gridlock Demo{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'scss/demo.css' %}">
    <link rel="stylesheet" href="{% static 'scss/navbar.css' %}">

    <!-- Preprocessor -->
    <script type="text/javascript" src="{% static 'preprocessor/js/location.js' %}"></script>
    <!-- Stop Generator -->
    <script type="text/javascript" src="{% static 'stopgenerator/js/stoplayout.js' %}"></script>
    <script type="text/javascript" src="{% static 'stopgenerator/js/stopmanagement.js' %}"></script>
    <script type="text/javascript" src="{% static 'stopgenerator/js/stopadd.js' %}"></script>
    <script type="text/javascript" src="{% static 'stopgenerator/js/stopmove.js' %}"></script>
    <script type="text/javascript" src="{% static 'stopgenerator/js/stopremove.js' %}"></script>
    <script type="text/javascript" src="{% static 'routegenerator/js/routegeneration.js' %}"></script>
    <!-- Application -->
    <script type="text/javascript" src="{% static 'js/demo.js' %}"></script>
    <!--suppress JSUnusedLocalSymbols -->
    <script type="text/javascript">
        var errorDialogSettings = {
            "content": "{% filter escapejs %}{% include 'dialogs/error_dialog.html' %}{% endfilter %}",
            "options": {
                "size": [300, 200],
                "anchor": [275, 275]
            }
        };
        var loadingDialogSettings = {
            "content": "{% filter escapejs %}{% include 'dialogs/loading_dialog.html' %}{% endfilter %}",
            "options": {
                "size": [300, 200],
                "anchor": [275, 275]
            }
        };
    </script>
{% endblock %}

{% block body %}
    {% include 'navbar.html' %}
    <div class="pure-g" id="main-container">
        <!-- Sidebar -->
        <div class="pure-u-1-4 full-height" id="sidebar-col">
            {% include 'sidebar.html' %}
        </div>
        <!-- Map -->
        <div class="pure-u-3-4 full-height" id="map-col">
            {% include 'preprocessor/map.html' %}
        </div>
    </div>
{% endblock %}