<div class="pure-menu pure-menu-horizontal">
    <a href="#" class="pure-menu-heading">Gridlock Demo Version</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="#" class="pure-menu-link" id="import-navbar-btn">Import Existing State</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link" id="export-navbar-btn">Export Current State</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link" id="graph-export-navbar-btn">Graph Export</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link" id="graph-import-navbar-btn">Graph Import</a></li>
        <li class="pure-menu-item"><a href="{% url 'admin:index' %}" class="pure-menu-link">Admin Panel</a></li>
    </ul>
</div>