<div class="pure-menu pure-menu-horizontal">
    <a href="#" class="pure-menu-heading pure-menu-link">Gridlock Demo Version</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a href="#" id="menuLink1" class="pure-menu-link">File</a>
            <ul class="pure-menu-children">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Open</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Save As</a></li>
            </ul>
        </li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Admin Panel</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">See Validation</a></li>
    </ul>
</div>