<html>
<head></head>
<body>
<form>
    {% include 'preprocessor/form.html' %}
    <hr>

    <!-- TODO: Transfer this to the stopgenerator module and include it instead -->
{#    <div class="row">#}
{#        <div class="large-12 columns">#}
{#            <h6>Stop Generator</h6>#}
{#            <label>Layout#}
{#                <select>#}
{#                    <option value="lattice">Lattice</option>#}
{#                    <option value="random">Random</option>#}
{#                    <option value="single-blob">Single-Blob</option>#}
{#                    <option value="multi-blob">N-blob</option>#}
{#                </select>#}
{#            </label>#}
{#            <a href="#" class="button tiny">Generate Stops</a>#}
{#            <a href="#" class="button alert tiny">Clear Stops</a>#}
{#        </div>#}
{#    </div>#}
{#    <hr>#}
</form>
</body>
</html>