html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-flow: column;
    height: 100%;

    .pure-menu {
        border: 1px solid grey;
        flex : 0 1 auto;
    }

    #main-container {
        flex: 1 1 auto;

        form {
          padding-top: 10px;
          padding-left: 10px;
          padding-right: 10px;

          legend {
            font-size: large;
            color: #777777;
          }

          .field {
            margin-bottom: 10px;
          }

          .pure-button {
            margin-bottom: 5px;
          }
        }
    }
}

.full-width {
  width: 100%;
}