$primary-color: #0076da;
$secondary-color: #0083e5;
$header-color: #adff2f;

.pure-menu {
  background: $primary-color;

  .pure-menu-heading {
    color: $header-color;
  }

  .pure-menu-link:hover,
  .pure-menu-link:active,
  .pure-menu-link:visited {
    background: $secondary-color;
  }

  * {
    background: $primary-color;
    color: white;
  }
}